* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color:#070B30;
}
body {
    background-color: #F4F5FC;
}

a{
    color: #243EFF;
    font-weight: 900;
    font-size: 20px;
}

h1 {
font-size: 61.04px;
background-color: #070B30;
color: #F4F5FC;
margin: 0 auto 24px auto;
text-align: center;
padding: 4px;

}
h2 {
    font-size: 31.25px;
    color: #243EFF;
}

p {
    font-size: 16px;
}

ul, ol {
    margin: 8px 24px;
    font-size: 20px;
    font-weight: 700;
}

.recipe-featured-image{
    display: block;
    margin: 0px auto;
    width: auto;
    height: 500px;
    border: 4px;
    border-style: solid;
    border-radius: 16px;
}

.recipe-description-container, .recipe-ingredients-container, .recipe-steps-container{
    background-color: white;
    padding: 24px 36px;
    border: 4px;
      border-color: #243EFF;
    border-style: solid;
    border-radius: 16px;
    margin: 24px 36px;

}